.App {
  text-align: center;
  font-family: 'Segoe UI', sans-serif;
  padding: 2rem;
  background-color: #f0f4f8;
  min-height: 100vh;
}

button {
  padding: 0.6rem 1.2rem;
  font-size: 1rem;
  background-color: #ffbf00;
  border: none;
  border-radius: 8px;
  cursor: pointer;
  transition: 0.3s;
}

button:hover {
  background-color: #ebc623;

}

a {
  text-decoration: none;
  color: #0077cc;
}

a:hover {
  text-decoration: underline;
}

p {
  color: #0077cc;
  text-align: center;
  font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
  font-size: 30px;

}
